{
  "parser": "babel-eslint",
  "extends": [
    "@strv/javascript/environments/nodejs/v8-3",
    "@strv/javascript/environments/nodejs/optional",
    "@strv/javascript/coding-styles/recommended",
    "@strv/javascript/environments/react/v16",
    "@strv/javascript/environments/react/optional"
  ],
  "rules": {
    "consistent-return": 0,
    "id-length": 0,
    "no-mixed-operators": 0,
    "max-params": 0,
    "valid-jsdoc": 0,
    "no-inline-comments": 0,
    "import/namespace": 0,
    "arrow-parens": "error",
    "react/sort-prop-types": 0
  }
}
